@using Blazor.Diagrams.Core.Models
@using Microsoft.AspNetCore.Components
@using SharedDemo.Demos

<div class="custom-node-top-container">
    <div class="if-node-wrapper default-node @(Node.Selected ? "selected" : "")">
        <div class="if-node-circle">
            <img class="if-node-icon" src="_content/SharedDemo/img/if_condition_icon.svg" />

            <div class="port-label top-port">True</div>
            <div class="port-label bottom-port">False</div>

            <!-- Input port on the left -->
            <PortRenderer Port="Node.InputPort"
                style="position: absolute; top: 66%; left: -3px; transform: translateY(-50%);">
                <circle cx="0" cy="0" r="6" fill="black" />
            </PortRenderer>

            <!-- True port top-right -->
            <PortRenderer Port="Node.TruePort" style="position: absolute; top: 26%; right: 5px;">
                <circle cx="0" cy="0" r="6" fill="green" />
            </PortRenderer>

            <!-- False port bottom-right -->
            <PortRenderer Port="Node.FalsePort" style="position: absolute; top: 72%; right: 6px;">
                <circle cx="0" cy="0" r="6" fill="red" />
            </PortRenderer>

        </div>

        <div class="if-node-labels">
            <div class="if-title">@Node.Title</div>
            <div class="if-subtitle">@Node.Subtitle</div>
        </div>
    </div>
</div>

@code {
    [Parameter] public IfConditionNode Node { get; set; }
}
