@using Blazor.Diagrams.Core.Models
@using Microsoft.AspNetCore.Components
@using SharedDemo.Demos

<div class="custom-node-top-container">
    <div class="if-node-wrapper default-node @(Node.Selected ? "selected" : "")">
        <div class="if-node-circle">
            <i class="fa-solid fa-repeat" style="color: #00b2e4;"></i>

            <PortRenderer Port="Node.GetPort(PortAlignment.Top)">
                <circle cx="0" cy="50" r="6" fill="blue" />
            </PortRenderer>

            <PortRenderer Port="Node.GetPort(PortAlignment.Left)">
                <circle cx="0" cy="50" r="6" fill="blue" />
            </PortRenderer>

            <PortRenderer Port="Node.GetPort(PortAlignment.Right)">
                <circle cx="100" cy="50" r="6" fill="green" />
            </PortRenderer>

            <PortRenderer Port="Node.GetPort(PortAlignment.Bottom)">
                <circle cx="100" cy="50" r="6" fill="green" />
            </PortRenderer>

        </div>

        <div class="if-node-labels">
            <div class="if-title">@Node.Title</div>
            <div class="if-subtitle">@Node.Subtitle</div>
        </div>
    </div>
</div>

@code {
    [Parameter] public SwitchNode Node { get; set; }
}
